.nav {
    display: flex;
    align-items: center;
    margin: 16px 0;
    padding: 0 20px;
}

.link {
    cursor: pointer;
    font-weight: 400;
    color: #21a038;
    font-size: 16px;
    line-height: 24px;
}

.link + .link {
    margin-left: 10px;
}
